.img-logo {
  width: 30%;
  height: auto; }

.text-navbar {
  text-size: 4rem; }

.nav-link {
  color: black; }

.white {
  color: white; }

.letra-grande {
  font-size: 15px; }

.letra-mediana {
  font-size: 10px; }

.letra-chica {
  font-size: 5px; }

* {
  margin: 0px;
  padding: 0px; }

.nav {
  justify-content: center !important;
  padding: 0px;
  margin: 0px; }

.navbar {
  justify-content: center !important;
  padding: 0px;
  margin: 0px; }

.collapse {
  justify-content: center !important;
  padding: 0px !important;
  margin: 0px !important; }

.navbar-nav {
  justify-content: center !important;
  padding: 0px !important;
  margin: 0px !important; }

.display-flex, .display-flex-column {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-items: space-evenly; }

.display-flex-column {
  flex-direction: column; }

body main {
  background-image: url(../assets/img/mini1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px;
  margin: 0px; }

body footer h3.col-4.display-flex, body footer h3.col-4.display-flex-column {
  justify-content: center;
  color: #641818; }

.color-red {
  color: #641818; }
