*{
    margin:0px;
    padding: 0px;
}

.nav{
    justify-content: center!important;
    padding: 0px;
    margin:0px
}

.navbar{
    justify-content: center!important;
    padding: 0px;
    margin:0px
}

.collapse{
    justify-content: center!important;
    padding: 0px!important;
    margin:0px!important;
}

.navbar-nav{
    justify-content: center!important;
    padding: 0px!important;
    margin:0px!important;
}

.footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: space-evenly ;
}

body{
    main{
        background-image: url(../assets/img/mini1.jpg);
        background-repeat: no-repeat;
        background-size:cover;
        padding: 6rem;
        margin:6rem;
        }
    footer{
        h3.col-4.footer{
            justify-content: center;
        }
    }
}
