*{
    margin:0px;
    padding: 0px;
}

.nav{
    justify-content: center!important;
    padding: 0px;
    margin:0px
}

.navbar{
    justify-content: center!important;
    padding: 0px;
    margin:0px
}

.collapse{
    justify-content: center!important;
    padding: 0px!important;
    margin:0px!important;
}

.navbar-nav{
    justify-content: center!important;
    padding: 0px!important;
    margin:0px!important;
}

.display-flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-items: space-evenly ;
}

.display-flex-column{
    @extend .display-flex;
    flex-direction: column;
}

body{
    main{
        background-image: url(../assets/img/mini1.jpg);
        background-repeat: no-repeat;
        background-size:cover;
        padding: 100px;
        margin:0px;
        }
    footer{
        h3.col-4.display-flex{
            justify-content: center;
            color:map-get($estilo-letra, color);
        }
    }
}

.color-red{
    color:map-get($estilo-letra,color);
}
