.text-navbar{
    text-size:4rem;
}

.nav-link{
    color:black;
}

.white{
    color:white;
}



@each $tamanio , $pixeles in $tamanio-letras{
        .letra-#{$tamanio}{
            font-size:$pixeles;
        }
}



